@page "/BooksPage"
@using Newtonsoft.Json;
@using WebbDesignBlazorLabb3.Shared;

@inject HttpClient _client;
@inject NavigationManager UriHelper

<h3 class="text-center">Alla böcker</h3>

@if (loadingList)
{
	<div class="spinner-border mt-4"></div>
}
else
{
<div class="d-inline-flex flex-wrap container-fluid">
	<Virtualize Items="BookList" Context="book">
		<div class="col-lg-3 col-md-6 col-sm-12 pb-lg-2 p-lg-2">
			<div class="card mt-2">
				<div class="card-header">
					<h5 class="text-center mt-1 text-truncate"><button class="btn btn-link" @onclick="() => GoToBookView(book.Isbn)">@book.Title</button></h5>
				</div>
				<div class="card-body text-center">
					<img src="@book.ImageLink" class="mx-auto mt-3 align-content-center" height="197" width="128" />
					<h6 class="card-title mt-1">
						@foreach (var auth in book.Authors)
						{
							@auth
						}
					</h6>
				</div>
				<div class="text-center col-lg-12 mb-2">
					<AuthorizeView>
						<Authorized>

							@if(currentUserList.Content.Find(x => x == book.Isbn) != book.Isbn)
								{
									<button class="btn btn-success mt-2 mx-lg-2" @onclick="() => AddBookToList(book.Isbn, email)">Lägg till i profil</button>
								}
								else
								{
									<p>Boken är i din lista!</p>
								}

						</Authorized>
						<NotAuthorized>
							<p> Logga in för att lägga till </p>
							</NotAuthorized>
					</AuthorizeView>
				</div>
			</div>
		</div>
	</Virtualize>
</div>
}

@code {

}
