@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Favbooks!</h1>

Här kan du som ITHS användare logga in och skapa en lista med dina favoritböcker. 
Ifall din bok inte finns i databasen kan du använda dig av "Add Books" för att lägga till dem. Ifall infon skulle vara inkomplett/se konstig ut kan du ändra innehållet själv via "Edit books".





